<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
        .fa-chevron-down:hover {
            color: #1bbeb4;
        }

        .fa-chevron-up:hover {
            color: #1bbeb4;
        }

        .hidden {
            display: none;
        }

        .container-description {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #e4e4e4;
            padding: 10px 0;
        }

        .title-description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
        }

        .title-description h4 {
            font-weight: 300;
            color: #666;
            font-size: 14px;
        }

        .text-description {
            font-size: 13px;
            color: #252525;
            line-height: 22px;
            margin-top: 25px;
        }

        .rotate {
            transform: rotate(180deg);
            transition: transform 0.3s ease; /* Efecto de transición para suavizar la rotación */
        }
        
        .unrotate {
            transform: rotate(0deg);
            transition: transform 0.3s ease; /* Efecto de transición para suavizar la rotación */
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="container-description">
        <div class="title-description" id="toggleTitle" onclick="toggleChevron()">
            <strong>{{ title }}</strong>
            <i class="fa-solid fa-chevron-down unrotate" id="chevronIcon"></i>
        </div>
        <div class="text-description">
            <p style="color: #000;">
                {% include "manga/downloaders/download_range_chapters.html" with name=name %}
                <a href="{% url 'list_all_chapters' name %} " target="_blank">List all chapters</a>
            </p>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        function toggleChevron() {
            const chevronIcon = document.getElementById('chevronIcon');
            const contentDescription = document.querySelector('.text-description');
            chevronIcon.classList.toggle('rotate');
            chevronIcon.classList.toggle('unrotate');
            contentDescription.classList.toggle('hidden');
        }
    </script>
    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
{% endblock javascripts %}

