<!-- Template3.html -->
<form id="mangaDownloadForm">
    {% csrf_token %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
        <label for="start" style="color: #333; margin-right: 10px;">Start:</label>
        <input type="text" id="start" name="start" required
               style="padding: 10px; border: 1px solid #495057; border-radius: 5px; width: 150px;">
    </div>

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
        <label for="end" style="color: #333; margin-right: 10px;">End:</label>
        <input type="text" id="end" name="end" required
               style="padding: 10px; border: 1px solid #495057; border-radius: 5px; width: 150px;">
    </div>


    <button type="button" onclick="downloadMangaStartAndEnd()"
            style="background-color: #343a40; color: #fff; padding: 0.5rem 1rem; border: none; border-radius: 0.5rem; cursor: pointer; font-size: 0.875rem;">
        Download range Chapters
    </button>
</form>

<script>
    function downloadMangaStartAndEnd() {
        // Obtener los valores del formulario
        var mangaName = '{{ name }}'
        var start = $('#start').val();
        var end = $('#end').val();

        // Crear objeto de datos
        var requestData = {
            manga_name: mangaName,
            chapters: [parseInt(start), parseInt(end)]
        };

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Solo agrega el token CSRF a las solicitudes del mismo dominio
                    xhr.setRequestHeader("X-CSRFToken", $('[name="csrfmiddlewaretoken"]').val());
                }
            }
        });

        // Realizar solicitud AJAX
        $.ajax({
            url: '/download',  // URL de tu vista Django
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            xhrFields: {
                responseType: 'blob'
            },
            success: function (response) {
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(response);
                link.download = 'manga_download.zip';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            },
            error: function (error) {
                // Manejar errores
                alert('Hubo un error al descargar el manga.');
            },
            complete: function () {
                alert('Descarga completada.')
            }
        });
    }
</script>
