<!-- Template1.html -->
<form id="mangaDownloadForm">
    {% csrf_token %}
    <button type="button" onclick="downloadAllManga()"
            style="background-color: #343a40; color: #fff; padding: 1rem 2rem; border: none; border-radius: 0.5rem; cursor: pointer; font-size: 1rem;">
        Download Manga
    </button>
</form>

<script>
    function downloadAllManga() {
        // Obtener el valor del formulario
        var mangaName = '{{ name }}'

        // Crear objeto de datos
        var requestData = {
            manga_name: mangaName,
            chapters: []
        };

        console.log(requestData)

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Solo agrega el token CSRF a las solicitudes del mismo dominio
                    xhr.setRequestHeader("X-CSRFToken", $('[name="csrfmiddlewaretoken"]').val());
                }
            }
        });

        // Realizar solicitud AJAX
        $.ajax({
            url: '/download',  // URL de tu vista Django
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            xhrFields: {
                responseType: 'blob'
            },
            success: function (response) {
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(response);
                link.download = 'manga_download.zip';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            },
            error: function (error) {
                // Manejar errores
                alert('There was an error downloading the manga.');
            },
            complete: function () {
                alert('Manga downloaded successfully.');
            }
        });

    }
</script>
